/NeuroML2/Soma.v.dat
/neuroConstruct/generatedNeuroML2/LEMS_SolinasEtAl-GolgiCell.xml
/NeuroML2/KAHP.states.dat
/NeuroML2/KAHP.v.dat
/NeuroML2/time.dat
/NeuroML2/simulator.props

/NeuroML2/*.mod
/NeuroML2/*.hoc
/NeuroML2/*.dat

/NEURON*/old
/NEURON*/test/*.dat
/NEURON*/*.dat
/NEURON*/Golgi_count.txt
/NEURON*/SimData*

/neuroConstruct/generatedNeuroML/README
*.svg
neuroConstruct/generatedNeuroML2/*.dat
/neuroConstruct/generatedNeuroML2/clean.sh
/neuroConstruct/generatedNeuroML2/*.dat.lems

*.props
runsim.sh
/neuroConstruct/generatedNeuroML2/*.hoc
/neuroConstruct/generatedNeuroML2/*.mod
*_nrn.py
*.js

LEMS_Test*ml
*.pyc
*i686
*x86_64
generatedNEURON
generatedGENESIS
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class
*~
/NeuroML2/Ca.dat.nrn
/NeuroML2/Soma.v.dat.nrn
