/neuroConstruct/generatedNeuroML2/Golgi_CML.cell.svg
neuroConstruct/generatedNeuroML2/*.dat
LEMS_Test*ml
*.pyc
*i686
*x86_64
generatedNEURON
generatedGENESIS
generatedNeuroML
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class
